
<div class="bicycle wp">

<div class="rental_inf" id="ct3">
    	<div class="line">租车须知</div>
        <div class="group_box">
            <div class="group_list">
                <div class="infimg">
                    <div class="div-in">
                        <img src="../metronic/assets/corporate/img/rent/1.gif" alt="免责声明" />
                    </div>
                </div>
            </div>
            <div class="group_list">
                <div class="infimg"><div class="div-in"><img src="../metronic/assets/corporate/img/rent/2.gif" alt="骑行常识" /></div></div>
            </div>
            <div class="group_list">
                <div class="infimg"><div class="div-in"><img src="../metronic/assets/corporate/img/rent/3.gif" alt="骑行装备" /></div></div>
            </div>
            <div class="group_list">
                <div class="infimg"><div class="div-in"><img src="../metronic/assets/corporate/img/rent/4.gif" alt="骑行手势" /></div></div>
            </div>
            <div class="clear"></div>
        </div>
</div>

<div class="rental_inf" id="ct4">
        <div class="group_box">
            <div class="group_list">
                <div class="infimg infimgn"><div class="div-in"><img src='../metronic/assets/corporate/img/rent/1.png' alt="租车咨询" /></div></div>
            </div>
            <div class="group_list">
                <div class="infimg infimgn"><img src="../metronic/assets/corporate/img/rent/2.png" alt="qq交谈" /></div>
            </div>
            <div class="group_list">
                <div class="infimg infimgn"><img src="../metronic/assets/corporate/img/rent/3.png" alt="服务电话" /></div>
            </div>
            <div class="group_list">
                <div class="infimg infimgn"><img src="../metronic/assets/corporate/img/rent/4.png" alt="微信二维码" /></div>
            </div>
            <div class="clear"></div>
        </div>
	</div>

<div class="riding_service">
    	<div class="line">骑行服务</div>
        <div class="group_box" id="ct2">
            <div class="group_list">
                <div class="box_title"><span>免费规划路线</span></div>
                <div class="box_div">为避免个人信用度降低，并获得及时的解答，如问题已经得到解决，请大家及时采纳，同时选择一个最佳答案：）</div>
            </div>
            <div class="group_list">
                <div class="box_title"><span>配备专业领队</span></div>
                <div class="box_div">为避免个人信用度降低，并获得及时的解答，如问题已经得到解决，请大家及时采纳，同时选择一个最佳答案：）</div>
            </div>
            <div class="group_list">
                <div class="box_title"><span>摄影摄像</span></div>
                <div class="box_div">为避免个人信用度降低，并获得及时的解答，如问题已经得到解决，请大家及时采纳，同时选择一个最佳答案：）</div>
            </div>
            <div class="group_list">
                <div class="box_title"><span>后援车服务</span></div>
                <div class="box_div">为避免个人信用度降低，并获得及时的解答，如问题已经得到解决，请大家及时采纳，同时选择一个最佳答案：）</div>
            </div>
            <div class="clear"></div>
        </div>
</div>

</div>
