// PUBLIC
.wp
  width:1244px
  margin:0px auto

//RENT
.sp
  padding: 20px 0px;
  position: relative;
.bicycle
  padding:20px 20px
  position:relative
.rental_inf
.riding_service
.riding_route
  width:100%
  background:#fff
  margin-bottom:20px
.line
  font-size:24px
  width:100%
  text-align:center
  padding:20px 0px 10px 0px
  border-bottom:1px solid #eaeaea
.group_box
  width:100%
  padding-top:20px
  padding-left:20px
.group_list
  float:left
  width:268px
  margin-right:28px
  margin-bottom:10px
.box_title
  height: 30px
  font-size: 14px
  font-weight: bold
  padding-left:13px
  background-color: #F2F2F2
  border-bottom: 1px solid #DDD
  line-height: 32px
  background: url("../images/log/tbgs.gif") repeat-x
  color: #666
.box_div
  line-height: 25px
  padding: 10px
  margin-bottom: 10px
  border: 6px solid #F3F5F8
.infimg
  height:100px
  border:1px solid #eaeaea
  width:268px
  background:#fff
  padding:6px
  text-align:center
  position: relative
  display: table-cell
  vertical-align: middle
.infimgn
  height:260px




.div-in
  position: static
  *position:absolute
  top:50%
.div-in img
  position: static
  *position:relative
  top:-50%
  left:-50%
